
h1{

	color:brown;
	border: 2px solid mistyrose;
	padding: 3px;
} 

body{
width: 800px;
margin: 1 grid-auto-rows: ;
background-color:#bc8f8f;
padding: 0 20px 20px;
border: 5px solid color: rosybrown;
}

img{

	width: 500px;
	padding: 0 20px 20px;
}